> # Importing pandas library to read the csv file

In [1]:
import numpy as np
import pandas as pd

> The data is spread into 17 different csv files, we name them with format 'M_Y.csv' for our convenience. <br>
> # Merging and Data Cleaning <br>
> ### Data Cleaning involves the following tasks <br>
> <ul><li> After reading, we name the columns to maintain uniformity. It helps when concatenation is required.</li>
    <li> Filling the null values in Licenses Service Area(LSA) column using ffill method. </li>
    <li> Dropping all the rows for which Signal_Strength has null values. </li>
    <li> We know that Signal_Strength varies from 0 to -130 dBm. In some files, it is given positive which is wrong. We assume that data collector forgot to put minus sign, So we multiply by -1 to correct the reading. </li>
    </ul>
>
> # Data Preprocessing
> ### [1] Feature Creation
> If we merge the data without considering to create Month&Year feature we will loose some information
> ### [2] Feature Normalisation
> the Data_Speed feature has been min-max normalised since it has different unit of measurement in different files
> ### [3] Random sampling without replacement has been done
> 30 % of the data was removed randomly. Since the sample size is still greater than 20,000 so it will not affect the statistics too much.

In [2]:
dfs=[] # declaring an empty list to store dataframes

# reading the data for year 2018
for i in range(3,13):
    df=pd.read_csv('../data/'+str(i)+'_18.csv')
    df.columns=['Operator', 'Technology', 'Test_Type', 'Data_Speed','Signal_Strength', 'LSA']
    df['LSA']=df['LSA'].fillna(method='ffill')
    df['Signal_Strength']=df['Signal_Strength'].dropna()
    df['Month&Year']='01/'+str(i)+'/18'
    df['Data_Speed']=(df['Data_Speed']-df['Data_Speed'].min())/(df['Data_Speed'].max()-df['Data_Speed'].min())
    df['Signal_Strength']=df['Signal_Strength'].transform(lambda value : -1*value if (value>0) else value)
    dfs.append(df)
    
for i in range(1,8):
    df=pd.read_csv('../data/'+str(i)+'_19.csv')
    df.columns=['Operator', 'Technology', 'Test_Type', 'Data_Speed','Signal_Strength', 'LSA']
    df['LSA']=df['LSA'].fillna(method='ffill')
    df['Signal_Strength']=df['Signal_Strength'].dropna()
    df['Month&Year']='01/'+str(i)+'/19'
    df['Data_Speed']=(df['Data_Speed']-df['Data_Speed'].min())/(df['Data_Speed'].max()-df['Data_Speed'].min())
    df['Signal_Strength']=df['Signal_Strength'].transform(lambda value : -1*value if (value>0) else value)
    dfs.append(df)

#concatenation
df = pd.concat(dfs, ignore_index=True)

df=df.dropna()
df.reset_index(drop=True)

#sampling
np.random.seed(10)
remove_n = 5421104
drop_indices=np.random.choice(df.index,remove_n,replace=False)
df = df.drop(drop_indices)
df['Test_Type']=df['Test_Type'].str.lower()
df.reset_index(drop=True)

df.to_csv ('../data/mergedData.csv', index = None, header=True)

> Checking if data has any null values

In [3]:
df.isnull().any()

Operator           False
Technology         False
Test_Type          False
Data_Speed         False
Signal_Strength    False
LSA                False
Month&Year         False
dtype: bool

> We see, that our merged data file doesn't have any null values

In [4]:
df.sample(10)

,Operator,Technology,Test_Type,Data_Speed,Signal_Strength,LSA,Month&Year
2298458,JIO,4G,download,0.102200,-103.0,Maharashtra,01/4/18
17277735,JIO,4G,download,0.002769,-89.0,UP East,01/3/19
13877920,JIO,4G,upload,0.012227,-92.0,Gujarat,01/12/18
11995143,JIO,4G,upload,0.067435,-77.0,UP East,01/10/18
319531,VODAFONE,4G,upload,0.042281,-90.0,Haryana,01/3/18
4286312,VODAFONE,3G,upload,0.003341,-105.0,Gujarat,01/5/18
4568829,JIO,4G,download,0.133803,-90.0,Punjab,01/5/18
1439658,JIO,4G,download,0.052326,-102.0,Assam,01/4/18
8979762,AIRTEL,4G,download,0.003583,-84.0,Jammu & Kashmir,01/7/18
13489254,JIO,4G,upload,0.072531,-72.0,Kerala,01/11/18

In [5]:
df.describe()

         Data_Speed  Signal_Strength
count  1.264924e+07     1.264924e+07
mean   7.496701e-02    -7.799186e+01
std    1.170630e-01     2.633105e+01
min    0.000000e+00    -1.340000e+02
25%    8.800351e-03    -9.800000e+01
50%    3.126799e-02    -8.400000e+01
75%    7.125551e-02    -6.400000e+01
max    1.000000e+00    -1.000000e+00

In [6]:
df.dtypes

Operator            object
Technology          object
Test_Type           object
Data_Speed         float64
Signal_Strength    float64
LSA                 object
Month&Year          object
dtype: object

In [7]:
df.shape

(12649245, 7)

In [2]:
import pandas as pd
df=pd.read_csv('../data/mergedData.csv')

In [11]:
df['Month&Year'] = pd.to_datetime(df['Month&Year']).dt.strftime('%Y-%m-%d')

In [12]:
df.head()

,Operator,Technology,Test_Type,Data_Speed,Signal_Strength,LSA,Month&Year
0,JIO,4G,Upload,0.053033,-63.0,Andhra Pradesh,1
1,JIO,4G,Upload,0.053106,-65.0,Andhra Pradesh,1
2,JIO,4G,Upload,0.050200,-65.0,Andhra Pradesh,1
3,VODAFONE,4G,Download,0.056157,-90.0,Maharashtra,1
4,VODAFONE,4G,Download,0.050272,-90.0,Maharashtra,1

In [10]:
df.dtypes

Operator            object
Technology          object
Test_Type           object
Data_Speed         float64
Signal_Strength    float64
LSA                 object
Month&Year          object
dtype: object